@import url('https://fonts.cdnfonts.com/css/quicksand');

.hero-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
  }

.background {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(0%);
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background-color: black;
  padding-right: 3%;
  padding-left: 3%;
  padding-top: 1%;
  opacity: 0.8; /* Set opacity as a value between 0 and 1 */
  border-radius: 10px;
  width: 60%;
}

.title {
  font-size: 5rem;
  margin-top: 0;
  font-family: 'Quicksand Book', sans-serif;
  font-weight: normal;
}


/* @media (max-width: 768px) {
  .title {
    font-size: 4rem;
  }
}

@media (max-width: 355px) {
  .title {
    font-size: 3rem;
  }
} */