/* MatchDisplay.css */

.match-display {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 2fr;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  font-size: 2vw;
  text-align: center;
  margin: 0 auto;
  width: 88vw;
}

.match-column {
  text-align: center;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.crown {
  margin-left: 4px;
}

.winner {
  font-weight: bold;
  color: #c93030; /* Red color for winner */
}

.team-name {
  /* display: flex; Uncomment this line */
  align-items: center;
  justify-content: center;
  margin: 2px;
  font-size: 2vw;
}

.team-name u {
  text-decoration: underline;
}

.team-divider {
  margin-top: 8px; /* Adjust the top gap between lines */
}

.score-container {
  font-size: 2vw;
}

.red-column {
  color: #c93030; /* Red color for team names and scores */
}

.blue-column {
  color: #3071a9; /* Blue color for team names and scores */
}
