/* MatchDisplay.css */

.box {
  text-align: center;
}

.match-display {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 2fr;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  font-size: 2vw;
  width: 90vw;
}

.match-column {
  text-align: center;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.crown {
  margin-left: 4px;
}

.winner {
  font-weight: bold;
  color: #c93030; /* Red color for winner */
}

.team-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2px;
  font-size: 2vw;
}

.score-container {
  font-size: 2vw;
}

.red-column {
  color: #c93030; /* Red color for team names and scores */
}

.blue-column {
  color: #3071a9; /* Blue color for team names and scores */
}



  /* ScheduleDisplay.css */
.schedule-list {
    margin-top: 20px;
  }

.dropdown-container {
  text-align: center; /* Center the contents horizontally */
  margin: 10px;
}
  

.dropdown-header button {
  background-color: #d84040; /* Red background color */
  align-items: center;
  color: white;
  border: none;
  padding: 8px 0; /* Adjust padding for button height */
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 90vw; /* Button spans 80% of view width */
  font-size: 2vw;
  padding: 2%;
  position: relative;
}

.dropdown-button .arrow-icon {
  position: absolute;
  right: 8px; /* Adjust the positioning of the arrow */
  font-size: 2vw;

}

.dropdown-button.open {
  background-color: #b32525; /* Slightly darker red when dropdown is open */
}

/* Add more styling as needed */


/* Add more styling as needed */
