
.container {
  text-align: center;
}

.team-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.display {
  margin-bottom: 10px;
  text-align: center;
}
  
.display-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.display-item {
  flex: 1;
  padding: 5px;
  text-align: center;
  font-size: 1.4vw;
}

.display-divider {
  border-bottom: 1px solid #ccc;
  margin-top: 5px;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teams-table {
  display: flex;
  justify-content: center;
}

.num {
  font-size: 2.5vw;
}

.column {
  flex: 1;
  padding-bottom: 10%;
  margin: 5px;
  text-align: center;
  font-size: 1.4vw;
}

.column h2 {
  font-size: 16px;
  margin-bottom: 5px;
}

.column > div {
  margin-bottom: 5px;
}

.rankings {
  color: #d84040;
}