/* HomePage.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  header h1 {
    font-size: 32px;
    margin: 0;
  }
  
  header p {
    font-size: 18px;
  }
  
  main {
    padding: 2%;
  }
  
  .hero {
    position: relative; /* Ensure relative positioning for the pseudo-element */
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Pseudo-element for the background image with opacity */
  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/field.png');
    background-size: cover;
    background-position: center;
    opacity: 0.4; /* Set the desired opacity for the background image */
  }
  
  .hero-content {
    text-align: center;
    position: relative; /* Ensure the hero content is above the pseudo-element */
    z-index: 1; /* Make sure the content is displayed above the pseudo-element */
  }
  .hero h2 {
    font-size: 36px;
    margin: 0;
  }
  
  .hero p {
    font-size: 18px;
    margin: 10px 0;
  }

  .scouting {
    position: relative; /* Ensure relative positioning for the pseudo-element */
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Pseudo-element for the background image with opacity */
  .scouting::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/scouting.png');
    background-size: cover;
    background-position: center;
    opacity: 0.15; /* Set the desired opacity for the background image */
  }
  
  .scouting-content {
    text-align: center;
    position: relative; /* Ensure the hero content is above the pseudo-element */
    z-index: 1; /* Make sure the content is displayed above the pseudo-element */
  }
  .scouting h2 {
    font-size: 36px;
    margin: 0;
  }
  
  .scouting p {
    font-size: 18px;
    margin: 10px 0;
  }
  
  .cta-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #555;
  }
  
  .project-info h2 {
    font-size: 24px;
    margin: 0;
  }
  
  .project-info p {
    font-size: 18px;
    line-height: 1.6;
  }
  
  .contact h2 {
    font-size: 24px;
    margin: 0;
  }
  
  .contact p {
    font-size: 18px;
    line-height: 1.6;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  footer p {
    margin: 0;
  }

  section {
    padding: 2%;
  }
  